

#start-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue; 
}
#start-ul li{
    /*display: inline;*/
    float: left;
}

#start-ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
}

#start-ul li a:hover{
    background-color: darkcyan;
}

#world{
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}