/*#Home2-Body{

  background-color: #004562;
}*/
                        
/*
.Home-header{
  align-items: center;
  text-align: center;
}
.Home-div{
  align-items: center;
  text-align: center;
}

button{
  height: 50px;
  width: 200px;
  background-color: deepskyblue;
  color: white ;
  align-items: center;
}

button::over{
  background-color: lightskyblue;
}

#admin{
  margin-right: 300px;
}

#haeger-logo{
  height: 200px;
  width: 400px;
  align-items: center;
}

#plannung{
  height: 200px;
  width: 180px;
  align-items: center;
}*/
  

/*.App-header{
  align-items: center;
  text-align: center;
}

.div{
  align-items: center;
  text-align: center;
}

button{
  height: 50px;
  width: 200px;
  background-color: deepskyblue;
  color: white ;
  align-items: center;
}

button::over{
  background-color: lightskyblue;
}

#admin{
  margin-right: 300px;
}

#haeger-logo{
  height: 200px;
  width: 400px;
  align-items: center;
}

#plannung{
  height: 200px;
  width: 180px;
  align-items: center;
  
}*/
